In [3]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
from sqlalchemy import text

In [ ]:
password = getpass.getpass()

In [2]:
bd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [ ]:
with engine.connect() as connection:
    query = text('SELECT * FROM ')
    result = connection.execute(query)

result

In [21]:
def rental_month(engine, month, year):
    with engine.connect() as connection:
        result = connection.execute(query, {'month': month, 'year': year})
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
    
    return df

In [22]:
rental_month(engine, 2, 2005)

,customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update
0,1,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
1,2,1,PATRICIA,JOHNSON,PATRICIA.JOHNSON@sakilacustomer.org,6,1,2006-02-14 22:04:36,2006-02-15 04:57:20
2,3,1,LINDA,WILLIAMS,LINDA.WILLIAMS@sakilacustomer.org,7,1,2006-02-14 22:04:36,2006-02-15 04:57:20
3,4,2,BARBARA,JONES,BARBARA.JONES@sakilacustomer.org,8,1,2006-02-14 22:04:36,2006-02-15 04:57:20
4,5,1,ELIZABETH,BROWN,ELIZABETH.BROWN@sakilacustomer.org,9,1,2006-02-14 22:04:36,2006-02-15 04:57:20
...,...,...,...,...,...,...,...,...,...
594,595,1,TERRENCE,GUNDERSON,TERRENCE.GUNDERSON@sakilacustomer.org,601,1,2006-02-14 22:04:37,2006-02-15 04:57:20
595,596,1,ENRIQUE,FORSYTHE,ENRIQUE.FORSYTHE@sakilacustomer.org,602,1,2006-02-14 22:04:37,2006-02-15 04:57:20
596,597,1,FREDDIE,DUGGAN,FREDDIE.DUGGAN@sakilacustomer.org,603,1,2006-02-14 22:04:37,2006-02-15 04:57:20
597,598,1,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,604,1,2006-02-14 22:04:37,2006-02-15 04:57:20
598,599,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20

In [54]:
def rental_count_month(engine, month, year):
    with engine.connect() as connection:
        txt = '''
            SELECT customer_id, COUNT(rental_id) AS rental_count
            FROM rental
            WHERE MONTH(rental_date) = :month AND YEAR(rental_date) = :year
            GROUP BY customer_id
            ORDER BY rental_count DESC;
        '''
        query = text(txt)
        result = connection.execute(query, {'month': month, 'year': year})
        rows = result.all()
        df = pd.DataFrame(rows, columns=result.keys())
        
        formatted_month = f"{int(month):02d}"
        new_column_name = f"rentals_{formatted_month}_{int(year)}"
        
        df.rename(columns={'rental_count': new_column_name}, inplace=True)
        
        return df

In [ ]:
df1 = rental_count_month(engine, 2, 2006)

In [57]:
df1

     customer_id  rentals_02_2006
0             75                3
1             15                2
2             42                2
3             43                2
4             53                2
..           ...              ...
153          587                1
154          590                1
155          592                1
156          596                1
157          597                1

[158 rows x 2 columns]

In [64]:
df2 = rental_count_month(engine, 5, 2005)

In [65]:
df2

     customer_id  rentals_05_2005
0            197                8
1            109                7
2            506                7
3             19                6
4             53                6
..           ...              ...
515          580                1
516          582                1
517          590                1
518          595                1
519          599                1

[520 rows x 2 columns]

In [84]:
def compare_rentals(engine, df1, df2):
    
    df = pd.merge(df1, df2, on='customer_id', how='outer')
    df.fillna(0, inplace=True)

    col1, col2 = df.columns[1], df.columns[2]
    df['difference'] = df[col2] - df[col1]

    return df

In [85]:
compare_rentals(engine, df1, df2)

     customer_id  rentals_02_2006  rentals_05_2005  difference
0              1              0.0              2.0         2.0
1              2              0.0              1.0         1.0
2              3              0.0              2.0         2.0
3              5              1.0              3.0         2.0
4              6              0.0              3.0         3.0
..           ...              ...              ...         ...
534          594              0.0              4.0         4.0
535          595              0.0              1.0         1.0
536          596              1.0              6.0         5.0
537          597              1.0              2.0         1.0
538          599              0.0              1.0         1.0

[539 rows x 4 columns]